{{!People Description Partial Template}}
{{!Author: Adam Kerr and Kenneth Kang}}

<section class = "member-holder">
  <div id = "member-name">
    {{name}}
  </div>
  <div id = "member-image">
    <img src="{{source}}" />
  </div>
  <div id = "member-bio">
    {{description}}
  </div>
  <div id = "contact">
    <a href = "{{link1}}">Email</a>
  </div>
  <div id = "contact">
    <a href="{{link2}}">LinkedIn Profile</a>
  </div>
  <div id = "contact">
    <a href="{{link3}}">Social Media Account</a>
  </div>
</section>
