{{!Home Page View Template}}
{{!Author: Adam Kerr and Kenneth Kang}}

<main class = "home">
<div id = "welcome">
  <h1>{{welcome_message}}</h1>
</div>

<img class = "full-image" src = {{Image1}} >

<div id = "intro">
  <p>{{Intro}}
  </p>
</div>

<img id = "left-side-image" src = {{Image2}}>
<img id = "right-side-image" src = {{Image3}}>

<div id = "goals"><h2>{{goal_message}}</h2>
  <ol id = "goals-list">
    <li class = "goals-number">
        {{Goal1}}
    </li>
    <li class = "goals-number">
        {{Goal2}}
    </li>
    <li class = "goals-number">
        {{Goal3}}
    </li>
  </ol>
</div>

<img class = "full-image" src = {{Image4}}>

<section id = "peek">
  <h2 id= "sub-title">{{upcoming_event_message}}</h2>
    <div class ="all-events">
      {{> event}}
    </div>
    <div class = "all-community-services">
      {{> communityService}}
    </div>
</section>


</main>
